* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* main-content */

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #be3144;
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  font-size: x-large;
  color: rgb(241, 239, 239);
  text-transform: capitalize;
  padding: 30px;
}

a:hover {
  background-color: rgb(40, 40, 88);
}

/* welcome-section */

#welcome-section {
  background-color: black;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 50px;
}

#about {
  color: #be3144;
  font-size: 40px;
}

/* inf0-section */

.info-section{
  background-color:  #45567d;
  width: 100%;
  height: auto;
  padding-top: 70px;
}

.info-section h2{
  width: 500px;
  text-align: center;
  font: 34px Arial, sans-serif;
  font-weight: bolder;
  margin: 70px auto;
  color: lightgrey;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 10px;
}

.info-section .grid-container{
  display: grid;
  justify-content: center;
 margin: 0 auto;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr); 
  gap: 30px;
  width: 90%;
  
}

.info-section .grid-container .project1{
  grid-row: 1/2;
  grid-column: 1/2;
}


.info-section .grid-container .project2{
  grid-row: 1/2;
  grid-column: 2/3;
}
.info-section .grid-container .project3{
  grid-row: 1/2;
  grid-column: 3/-1;
}
.info-section .grid-container .project4{
  grid-row: 2/3;
  grid-column: 1/2;
}
.info-section .grid-container .project5{
  grid-row: 2/3;
  grid-column: 2/3;
}
.info-section .grid-container .project6{
  grid-row: 2/3;
  grid-column: 3/-1;
}

.info-section .grid-container .project-tile{
  border-radius: 5px;
  background-color: #262626;
  color: #f0f0f0;
  width: 100%;
  height: 400px;
}


.info-section .grid-container .project-title{
padding: 15px;
display: flex;
font: 20px Arial, sans-serif;
justify-content: center;
align-items: center;
color: #f0f0f0;
}


.project-tile p .code{
  color: #262626;
  font-size: 20px;
  padding: 0 20px;
  transition: color 0.3s ease-out;
}

.project-tile:hover .code{
  color: #be3144;
}



.info-section img{
  width: 100%;
  height: 85%;
}


.btn{
 text-align: center;
 padding-bottom: 60px;
 padding-top:30px;
}

.btn-show-all{
  padding:12px;
  font-size: 20px;
  background-color:#303841;
  color: #f0f0f0;
  border-radius: 4px;
  transition: background 0.3s ease-out;
}

.btn-show-all:hover{
  background-color: #be3144;
}

.btm-heading{
  text-align: center;
  padding-top: 50px;
color: #f0f0f0;
font: 50px Arial, sans-serif;
  font-weight: bolder;
}

.btm-p{
  text-align: center;
  margin: 20px auto 40px auto;
  color: #f0f0f0;
}

.social-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 60px;
  border-bottom: 4px solid #be3144;
  margin-bottom: 40px;
}

.social-icons a{
  display: flex;
  justify-content: center;
 align-items: center;
  color: #f0f0f0;
  background-color: #303841;
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.3s ease-out;
}

.icons{
  color: #f0f0f0;
  font-size: 40px;
  margin-right: 10px;
}

.social-icons a:hover {
     transform: translateY(8px);
}



.icon{
  text-shadow: 2px 2px 1px #1f1f1f;
    
}

.copyright{
display: flex;
justify-content: space-around;
  align-items: center;
padding-bottom: 50px;
color: #f0f0f0;
}

.copyright i{
  color: #f0f0f0;
}

.copyright a{
  color: #f0f0f0;
}

.footer{
  background-color: #303841;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
}
